

header {
	float: left;
	text-align: center;
	background-color: #4aaaa5;
	width: 300px;
	font-family: Georgia;
	font-size: 35px;
	color: white;
	font-weight: bold;
	padding: 30px;
	margin-left: 150px;
	margin-right: 300px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
    align-content: right;
    padding-top: 25px;
}

li a {
    font-family: arial;
    display: block;
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body {
font-size: "large";
width: 100%;
height: 100%;
}

#About_Me {
font-family: times;
font-size: 35px;
font-weight: bold;
vertical-align: center;
color: #4aaaa5;	
margin-left: 152px;
margin-top: 30px;
background-color: white;
width: 700px;
height: 415px;
padding-left: 25px;
padding-top: 35px;
border-bottom: 2px;
border-bottom-color: gray;
}

img
{
float: left;
margin-right: 25px;
}

#bio {
border-top: 2px;
border-color: gray;
text-align: justify;
margin-right: 20px;
color: black;
line-height: 1.5em;
font-weight: normal;
padding-top: 30px;
font-family: arial;
font-size: 20px;
}

#Connect_With_Me {
font-family: times;
font-size: 35px;
font-weight: bold;
vertical-align: center;
color: #4aaaa5;	
margin-left: 152px;
margin-top: 30px;
background-color: white;
width: 350px;
height: 350px;
padding-left: 25px;
padding-top: 35px;
border-bottom: 2px;
border-bottom-color: gray;
float: right;

}